/*  

  OCU Styles Portlet 
  v0.14 | 20110310   

TOC:
  
  $2 - subMainContent (Equivale al $3.2.2 de Aplication styles)
  
*/ 

/*------------------------------------------------------------------------------
  $2 - subMainContent
------------------------------------------------------------------------------*/
/* Contenedor general */
#subMainContent {
	width: auto;
	text-align: left;
	margin: 0 0 0 0;
	/* Mostrar en caso de que no se muestre un espacio alrededor del portlet   
  padding: 0 0 0 0; */
  /* Mostrar en caso de que se muestre un espacio alrededor del portlet*/
	padding: 0.5em!important;
	padding-bottom: 1.6em!important;
}
/* Define las propiedades generales de las imagenes que se encuentran dentro del Contenedor 

general */
#subMainContent IMG {
	border: 0; /* Posibilidad de colocar en uxxi_portal.css */
	margin-right: 0.8em;
}
#subMainContent IMG.imgIzq {
	float: left;
}
#subMainContent IMG.imgDer {
	float: right;
}
#subMainContent IMG.imgCent {
	float: center;
}

/* Define los encabezados que se encuentran dentro del Contenedor general */
#subMainContent H2 {
	font-size: 1.4em;
	text-align: left;
	margin-top: 1.2em;
}
#subMainContent H3 {
	font-size: 1.2em;
	text-align: left;
	margin-top: 1.2em;
	margin-left: 0;
}
#subMainContent H4 {
	font-size: 1.1em;
	text-align: left;
	background: none!important;
}
/* Define la clase .oculto que permite ocultar un texto, un encabezado, etc. */
#subMainContent .oculto {
	DISPLAY: none;
}
/* Define las propiedades de la clase .data que se puede utilizar en los campos de un formulario 

*/
#subMainContent P SPAN.dataout {
	font-weight: normal;
}
/* Define las propiedades de la clase .datab que se puede utilizar en los campos de un 

formulario */
#subMainContent P SPAN.data, #subMainContent P SPAN.datab {
	font-weight: normal;
  line-height: 1.7em;
  border: 1px solid transparent;
}
/* searchBox */
/* Contenedor de la busqueda general */
#subMainContent .searchBox, .searchBox {
	width: auto!important;
	height: auto;
	background: url(/portlets/images/base_rayas_big.gif);
	padding: 0.9em!important;
	border-bottom: 1px solid #c4c4c4;
}
.searchBox {
	border-bottom: none;
}
#subMainContent .searchBox h2, .searchBox h2 {
	border: none;
}
#subMainContent .searchBox LABEL, .searchBox LABEL {
	margin-left: 0.9em;
	font-weight: bold;
}
#subMainContent .searchBox FORM p, .searchBox FORM p  {
  font-weight: normal;
  margin: 1em 0 0.6em 0;
  padding: 0.2em 0 0 0;
}
/* searchBoxAdmin */
/* Contenedor de la busqueda para un administrador */
#subMainContent .searchBoxAdmin {
	width: auto!important;
	height: auto;
	background: url(/portlets/images/base_rayas_big.gif);
	padding: 0.9em!important;
	border-bottom: 1px solid #c4c4c4;
}
#subMainContent .searchBoxAdmin h2 {
	border: none;
}
#subMainContent .searchBoxAdmin BUTTON {
	margin-left: 0.9em;
}
#subMainContent .searchBoxAdmin LABEL {
	margin-left: 0.9em;
	font-weight: bold;
}
#subMainContent #searchBoxAdmin .messageAdmin {
	margin-top: 0.9em;
}

/* Button */
/* Area que contiene los botones */
#subMainContent .button, .searchBox .button {
	width: auto;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0.9em 0 0.9em 0;
}

#subMainContent .button button, .searchBox .button button {
	margin: 0 0.6em 0 0;
}

#subMainContent .buttonRight, .searchBox .buttonRight {
	width: auto;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* tabs */
/* Area que contiene los separadores, ver los ejemplos AC4A y BC4A */
#subMainContent .tabNav {
	background: #FFF url(/portal/page/portal/uxxiportal/repositorio/images/bgTabs.gif) bottom left repeat-x;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0;
}
#subMainContent .tabNav h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	background: #fafafa;
	margin: 0;
	padding: 0;
}
#subMainContent .tabNav li {
	border-bottom: 1px solid #8c9091;
	border-right: 1px solid #8c9091;
	border-left: 1px solid #8c9091;
	border-top: 1px solid #8c9091;
	float: left;
	list-style: none !important;
	margin: 0em 0 0 0.5em;
	padding: 0.2em 0.6em 0.1em 0.6em;
}
#subMainContent .tabNav a {
	float: left;
	font-weight: normal;
	padding: 0em 1em 0em 0.6em;
}
#subMainContent .tabNav li.optionACTIVE {
	background: #fafafa;
	border-bottom: 1px solid #fafafa;
	font-weight: normal;
	margin: 0em 0 0 0.5em;
	padding: 0.2em 0.6em 0.1em 0.6em;
}
/* stepsNav */
/* Area que contiene una navegacion por pasos, ver el ejemplo AC5A */
#subMainContent .stepsNav {
	width: auto;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0 0 1.9em 0;
}
#subMainContent .stepsNav IMG {
	border: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .stepsNav h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
#subMainContent .stepsNav ul {
}
#subMainContent .stepsNav li {
	float: left;
	list-style: none !important;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .stepsNav a {
	float: left;
	font-weight: normal;
	padding: 0 0 0 0;
}
#subMainContent .stepsNav li.optionACTIVE {
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
/* fieldset */
/* Area que agrupa los controles en un formulario */
#subMainContent fieldset {
	width: auto;
	font-weight: bold;
	margin: 1em 0 1em 0;
	padding: 0.9em 0.9em 1.2em 0.9em;
	border: 1px solid #c4c4c4;
}
#subMainContent fieldset legend {
	color: #363636;
	font-size: 1.2em;
	margin: 0 0 0 0;
	padding: 0 0.9em 0 0.9em;
}
/* Definicion de las etiquetas de un formulario dentro de un fieldset */
#subMainContent fieldset label.label00 {
	width: auto;
	margin-right: 0.9em;
}
#subMainContent fieldset label.label01 {
	width: 15%!important;
	margin-right: 0.9em;
}
#subMainContent fieldset label.label02 {
	width: 20%!important;
	margin-right: 0.9em;
}
#subMainContent fieldset label.label03 {
	width: 25%!important;
	margin-right: 0.9em;
}
#subMainContent fieldset label.label04 {
	width: 30%!important;
	margin-right: 0.9em;
}
/* Definicion de los campos desplegables de un formulario dentro de un fieldset */
#subMainContent fieldset select.select01 {
	width: 15%!important;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent fieldset select.select02 {
	width: 32.8%!important;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent fieldset select.select03 {
	width: 55%!important;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent fieldset select.select04 {
	width: 75%!important;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 0;
}
/* Definicion de los campos de texto de un formulario dentro de un fieldset */
#subMainContent fieldset input.input01 {
	width: 15%!important;
}
#subMainContent fieldset input.input02 {
	width: 32%!important;
}
#subMainContent fieldset input.input03 {
	width: 55%!important;
}
#subMainContent fieldset input.input04 {
	width: 75%!important;
}
/* Definicion de los campos de texto de varias lineas de un formulario dentro de un fieldset */
#subMainContent fieldset textarea {
	width: 75%;
}
#subMainContent fieldset textarea.textfield1 {
	width: 55%!important;
}
#subMainContent fieldset textarea.textfield2 {
	width: 73.5%!important;
}
/* form and related tag styles */
/* Definicion general de los formularios */
#subMainContent form {
	width: auto;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
/* label and related tag styles */
/* Definicion de las etiquetas de un formulario */
#subMainContent label, .searchBox label {
	width: 100%!important;
	font-weight: normal;
	float: left;
  height: 2em!important;
	margin: 0.5em 0 0 0.9em;
	padding: 0 0 0 0;
}
#subMainContent label.label00, .searchBox label.label00 {
	width: auto!important;
  height: auto;
	margin-right: 0.9em;
}
#subMainContent label.label01, .searchBox label.label01 {
	width: 15%!important;
	/*  height: 1.8em;
*/
	height: auto;
	margin-right: 0.9em;
}
#subMainContent label.label02, .searchBox label.label02 {
	width: 20.5%!important;
	height: auto;
	margin-right: 0.9em;
}
#subMainContent label span.ej, .searchBox label span.ej {
	font-weight: normal;
	color: #5b5a5a;
}

/* Definicion de los campos de texto de un formulario */
#subMainContent input.input01, .searchBox input.input01  {
	width: 14.85%!important;
}
#subMainContent input.input02, .searchBox input.input02  {
	width: 31.5%!important;
}
#subMainContent input.input03, .searchBox input.input03  {
	width: 53.9%!important;
}
#subMainContent input.input04, .searchBox input.input04  {
	width: 73.35%!important;
}
/* Definicion de los campos checkbox de un formulario */
#subMainContent .checkbox, .searchBox .checkbox {
	width: 100%!important;
	height: auto;
	margin: 0 0 0.9em 0.9em;
	padding: 0.9em 0 0 0;
}
#subMainContent .checkbox input, .searchBox .checkbox input {
	width: 0%!important;
	margin: 0 0.5em 0 0;
	padding: 0 0 0 0;
	border: 1px solid blue;
}
#subMainContent .checked fieldset legend {
	font-size: 1.08em!important;
}
/* Definicion de los campos desplegables de un formulario */
#subMainContent select, .searchBox select {
	width: 75%;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent select.select01, .searchBox select.select01 {
	width: 14.85%!important;
	margin: 0.4em 0 0 0.1em;
	padding: 0 0 0 0;
}
#subMainContent select.select02, .searchBox select.select02 {
	width: 32%!important;
	margin: 0.4em 0 0 0.1em;
	padding: 0 0 0 0;
}
#subMainContent select.select03, .searchBox select.select03 {
	width: 53.9%!important;
	margin: 0.4em 0 0 0.1em;
	padding: 0 0 0 0;
}
#subMainContent select.select04, .searchBox select.select04 {
	width: 73.35%!important;
	margin: 0.4em 0 0 0.1em;
	padding: 0 0 0 0;
}
/* Definicion de los campos de texto de varias lineas de un formulario */
#subMainContent textarea {
	width: 73.34%;
	font-family: Arial, sans-serif;
	font-size: 1em!important;
	margin: 0.4em 0 0 0.1em;
	padding: 0.2em 0.2em 0.2em 0.2em;
}
#subMainContent textarea.textfield1 {
	width: 53.9%!important;
}
#subMainContent textarea.textfield2 {
	width: 73.34%!important;
}
/* checked */
/* Definicion de los campos checked en linea en un formulario, ver el ejemplo AC5A */
#subMainContent .checked {
	width: 96%;
	margin: 0.2em 0 0.9em 0.9em;
	padding: 0 0 0 0;
}
#subMainContent .checked fieldset {
	border: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .checked p.checkedContent {
	width: 77.6%;
	float: right;
	margin: -1.1em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .checked fieldset legend {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .checked p.checkedContent select {
	margin: 0 0 0 0.35em;
	padding: 0 0 0 0;
}
#subMainContent .checked label {
	width: auto;
	font-weight: normal;
	float: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
/* fieldset checked */
/* Definicion de los campos checked de un formulario que se encuentran en un fieldset, ver el 

ejemplo AC7A */
#subMainContent fieldset .checked p.checkedContent {
	width: 78.4%;
}
/* SearchLine */
/* Definicion del Area en la horizontal que incluye los campos de un formulario que permiten 

incluir una fecha en linea */
#subMainContent .dateSearchLine {
	width: auto;
	height: 1.2em;
	margin: 0 0 0 0;
	padding: 0 0 0.8em 0.9em!important;
}
#subMainContent .dateSearchLine fieldset {
	border: 0;
	padding-top: 0;
}
#subMainContent .dateSearchLine fieldset legend {
	margin: 0 0 0 -0.9em;
	padding: 0 0 0 0;
}
#subMainContent .dateSearchLine p {
	width: 79.5%;
	float: right;
	margin: -1.5em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .dateSearchLine p.Line00 {
	width: 89%;
	float: right;
	margin: -1.5em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .dateSearchLine label {
	width: auto;
	float: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
/* fieldset dateSearchLine */
/* Definicion del Area en la horizontal que incluye los campos de un formulario dentro de un 

fieldset que permiten incluir una fecha en linea, ver el ejemplo AC1A */
#subMainContent fieldset .dateSearchLine {
	margin: 0 0 0 0;
	padding: 0.6em 0 0 0;
}
#subMainContent fieldset .dateSearchLine fieldset legend {
	font-weight: normal;
	font-size: 1em;
}
#subMainContent fieldset .checked dateSearchLine legend {
	font-weight: nornal!important;
	margin: 0 0 0 -0.9em;
	padding: 0 0 0 0;
}
#subMainContent .dateSearchLine fieldset p {
	width: 79.5%;
	float: right;
	margin: -1.5em 0 0 0;
	padding: 0 0 0.9em 0;
}
#subMainContent .dateSearchLine select {
	width: 20%!important;
	font-weight: normal;
	float: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
/* searchResul */
/* Definicion del area que contiene los resultados de busqueda, ver el ejemplo AC2A */
#subMainContent .searchResul {
	margin: 0 0 1.2em 0;
	padding: 0 0 0 0;
}
/* options */
/* Definicion del area general que contiene las opciones disponibles sobre los resultados de 

busqueda, ver el ejemplo AC2A */
#subMainContent .searchResul .option {
	width: auto;
	height: 1.5em;
	font-size: 1.2em!important;
	margin: 0 0 0 0;
	padding: 0.9em;
	border-bottom: 1px solid #c4c4c4;
	background: url(/portlets/images/base_rayas_big.gif);
}
/* Definicion del subarea que contiene las opciones en linea en un solo area, ver el ejemplo AC2A */
#subMainContent .searchResul .option00 {
	width: 100%;
}
/* Definicion de las subareas que contienen las opciones en linea en dos areas, ver el ejemplo 

AC2A */
#subMainContent .searchResul .option01 {
/* Definicion del subarea de la izquierda */
	width: 60%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
}
#subMainContent .searchResul .option02 {
/* Definicion del subarea de la derecha */
	width: 39%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
}
#subMainContent .searchResul .option00 ul, #subMainContent .searchResul .option01 ul, 

#subMainContent .searchResul .option02 ul {
	width: 100%!important;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: right;
}
#subMainContent .searchResul .option00 li, #subMainContent .searchResul .option01 li, 

#subMainContent .searchResul .option02 li {
	font-size: 0.8em;
	background: none;
	list-style: none;
	background: none;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .searchResul .option00 li a, #subMainContent .searchResul .option01 li a, 

#subMainContent .searchResul .option02 li a {
	display: block;
	padding: 0.3em 1em 0.3em 1.7em;
}
#subMainContent .searchResul .option00 li.print a, #subMainContent .searchResul .option01 li.print a {
	background: url(../images/icoPrint.gif) center left no-repeat;
	padding: 0.3em 1em 0.3em 1.8em;
}
#subMainContent .searchResul .option00 li.excel a, #subMainContent .searchResul .option01 li.excel a {
	background: url(../images/icoExcel.png) center left no-repeat;
	padding: 0.3em 1em 0.3em 1.6em;
}
#subMainContent .searchResul .option02 ul li {
	float: right;
} 
#subMainContent .searchResul .option00 li.add a, #subMainContent .searchResul .option01 li.add a {
	background: url(../images/icoAdd.png) center left no-repeat;
	padding: 0.3em 1em 0.3em 2em;
}
/* pagination */
/* Definicion del area que contiene la paginacion de los resultados, ver el ejemplo AC2A */
#subMainContent .searchResul .pagination {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.85em;
	padding: 0.9em;
	margin: 0 0 0 0;
	padding: 0.9em 0 0.9em 0.9em!important;
}
#subMainContent .searchResul .pagination li {
	background: none;
	float: left;
	line-height: 1.2em;
	list-style: none;
	margin: 0 1.5em 0 0;
	padding: 0;
}
#subMainContent .searchResul .pagination a {
	font-weight: normal;
}
#subMainContent .searchResul .pagination .next {
	padding: 0 0.9em 0 0.4em;
	position: absolute;
	right: 1em;
	border-left: 1px solid #3d3d3d;
}
#subMainContent .searchResul .pagination .pag {
	padding: 0 0.9em 0 0;
	position: absolute;
	right: 8em!important;
}
#subMainContent .searchResul .pagination .first {
	padding: 0 0.9em 0 0;
	position: absolute;
	right: 15em!important;
}
#subMainContent .searchResul .pagination .first .firstpag1 {
	color: #ccc;
	padding: 0 0.9em 0 0.4em;
	border-right: 1px solid #3d3d3d;
}
/* Link */
/* Definicion de un listado de enlaces */
#subMainContent .link ul {
	width: 100%!important;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
}
#subMainContent .link ul li {
	background: none;
	list-style: none;
	background: none;
	float: left;
	margin: 0 0 0 0.9em;
	padding: 0 0 0 0;
}
#subMainContent .link ul li a {
	display: block;
	padding: 0.3em 1em 0.3em 1.7em;
}
#subMainContent .link ul li.user a {
	background: url(../images/icoUser.png) center left no-repeat;
	padding: 0.3em 1em 0.3em 2.4em;
}

#subMainContent .link ul li.return a {
	background: url(../images/icoReturn.png) center left no-repeat;
	padding: 0.3em 1em 0.3em 2.4em;
}

/* dateSearch - fieldset*/
/* Definicion del area en la vertical que incluye los campos de un formulario que permiten 

incluir una fecha en linea, ver el ejemplo AC3A */
#subMainContent .dateSearch fieldset {
	width: auto;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}
#msubMainContent .searchBox .dateSearch fieldset legend {
	color: #363636;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .searchBox .dateSearch fieldset p {
	font-size: 0.8em;
	font-weight: normal;
	margin-left: 0;
}
#subMainContent .searchBox .dateSearch fieldset select {
	width: 4.5em !important;
	margin: 0.5em 0.2em 0.5em 0;
}
#subMainContent .searchBox .dateSearch fieldset .month {
	width: 7.4em !important;
	margin: 0 0.2em 0.5em 0;
}
#subMainContent .searchBox .dateSearch fieldset label {
	width: auto !important;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
}
/*  Table */
/* Define los estilos de las tablas dentro del contenedor general */
#subMainContent TABLE {
	width: 98%;
	margin: 0.9em 0.9em 0.9em 0.9em;
	padding: 0em 0 0 0;
	border: 0px solid #FFF;
	background: #FFF;
	border: 1px solid #909090;
	/* Desmarcar cuando la tabla tenga un fondo blanco
	border-collapse: collapse;
  border-spacing: 0;*/
}
#subMainContent TABLE.tabFont01, #subMainContent TABLE.tabla {
/* Usado en la tabla de horario y Mis estudiantes para disminuir el tamano del texto*/
	font-size: 0.8em;
	margin: 0.9em 0 0.9em 0;
} 
#subMainContent CAPTION {
/* Define el resumen de una tabla */
	text-align: left;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0.4em 0 0.4em 0;
}
#subMainContent CAPTION.hidden {
/* Define la ocultacion del resumen de una tabla */
	color: #f2f1f1;
	font-size: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent TH {
	color: #FFF;
	background: #2a498a;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 0.4em 0.4em 0.4em 0.4em;
	text-align: center;
	/* Desmarcar cuando la tabla tenga un fondo blanco
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0; */
}
#subMainContent TH A {
/* Define los enlaces en la cabecera de una tabla */
	color: #ffffff!important;
}
#subMainContent TH.thIzq {
/* Define la cabecera de una tabla, haciendo que el texto se muestre alineado a la izquierda */
	text-align: left;
}
#subMainContent TH.thTotDer {
/* Define la cabecera de una tabla, haciendo que el texto se muestre alineado a la derecha */
	background: #f2f1f1;
	color: #363636;
	text-align: right;
}

#subMainContent TH.th00 {
	width: auto;
}
#subMainContent TH.th01 {
	width: 5%;
}
#subMainContent TH.th02 {
	width: 10%;
}
#subMainContent TH.th03 {
	width: 15%;
}
#subMainContent TH.th04 {
	width: 20%;
}
#subMainContent TH.th04 {
	width: 25%;
}

#subMainContent TH LABEL {
/* Define una etiqueta en la cabecera de una tabla */
	width: 95%!important;
	font-weight: normal;
}
#subMainContent TD {
/* Define las celdas de datos de una tabla */
	padding: 0.2em 0.2em 0.2em 0.4em;
	text-align: left;
	background: #f2f1f1;
	/* Desmarcar cuando la tabla tenga un fondo blanco
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0; */
}
#subMainContent TD.tdCent {
/* Define las celdas de datos de una tabla, haciendo que el contenido se muestre alineado a ll 

centro */
	text-align: center;
}
#subMainContent TD.tdCentIzq {
/* Define las celdas de datos de una tabla que se muestran al final de una fila, haciendo que el contenido se muestre alineado al centro */
	text-align: center;
	/* 
  border-left: 1px solid #acacac;
	border-right: 1px solid #acacac; */
}
#subMainContent TD.tdIzq {
/* Define las celdas de datos de una tabla que se muestran al inicio de una fila, haciendo que 

el contenido se muestre alineado a la izquierda */
	text-align: left;
	/*
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac; */
}
#subMainContent TD.tdbackg01 {
/* Define las celdas de una tabla, haciendo que el contenido se con un fondo determinado */
	background-color: #ccc!important;
}
#subMainContent TD IMG.imgModificar {
/* Define las imagenes en una celda */
	width: 8em;
	height: 8em;
}
#subMainContent TD INPUT {
/* Define una caja de texto general en la celda de una tabla */
	width: 95%;
}
#subMainContent TD INPUT.imputth01 {
/* Define una caja de texto especifica en la celda de una tabla */
	width: 70%!important;
}
#subMainContent TD SELECT {
/* Define un campo desplegable en la cabecera de una tabla */
	width: 100%!important;
	margin: 0 0 0 0;
}
/*  Message */
/* Define el area que muestra los mensajes a un usuario, el area .message muestra una 

observacion o recomendacion y el area .messageAler una alerta */
#subMainContent .message, #subMainContent .messageAler, .advertencia {
	width: auto;
	height: auto;
	margin: 0.9em 0em 0.9em 0;
	padding: 0.5em 0 0.5em 0.9em;
	border: 1px solid #c4c4c4;
}
#subMainContent .message {
	background-color: #fcf2e1;
}
#subMainContent .messageAler, .advertencia {
	background-color: #fce8e8;
}
#subMainContent .message p, #subMainContent .messageAler p, #subMainContent .searchBox .message 

p, #subMainContent .searchBox .messageAler p, .advertencia p {
	width: auto;
line-height: 1.7em;
	margin: 0 0 0 0;
	padding: 0.4em 0.8em 0.4em 0.8em!important;
}
#subMainContent .message p, #subMainContent .message ul li {
	color: #3d3d3d;
}
#subMainContent .messageAler p, .advertencia p {
	color: #b40809;
}
#subMainContent .messageAler ul li, #subMainContent .messageAler ul li, .advertencia ul li {
	color: #b40809;
}
#subMainContent .messageAdmin {
	padding-top: 0.9em;
	padding: 0.8em 0.8em 0.8em 0.8em!important;
}
/* summary */
/* Define el area que muestra un resumen de datos */
#subMainContent .summary {
	width: auto;
	height: auto;
	background-color: #FFF;
	border: 1px solid #c4c4c4;
	margin: 0.9em 0.9em 0.9em 0.9em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
#subMainContent .summary h3 {
	margin-top: 0.4em;
}
/* Definicion de subareas cuando el resumen contine dos columnas */
#subMainContent .summary01 {
/* Definicion del subarea de la izquierda */
	width: 80%;
	float: left;
	padding-top: 1em;
}
#subMainContent .summary02 {
/* Definicion del subarea de la derecha */
	width: auto;
	padding-top: 0.3em;
	float: left;
}
#subMainContent .summary02 ul {
	list-style-type: none;
	margin-top: 0.6em;
}
#subMainContent .summary02 ul.border {
	border: 1px solid #c4c4c4;
	list-style-type: none;
	margin-top: 0.6em;
	padding: 0.9em;
}
#subMainContent .summary02 ul li {
	background: none;
}
#subMainContent .summary02 li.sup {
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	margin: 0;
	padding: 0.9em 0.9em 0.9em 2.2em;
}
#subMainContent .summary02 li.inf {
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	margin: 0;
	padding: 0.9em 0.9em 0.9em 0;
}
/* Clear */
/* Define un area que hace que los elementos que tienen cerca un elemento flotante dejen de 

alinearse junto a el */
#subMainContent div.clear {
	clear: both;
}

/* Define un fondo de color para las filas de una tabla - Puede ser personalizable las clases 

por Universidad */
#subMainContent TR.BgColor01 TD {
/* Utilizado para los estudiantes de tipo 1 */
	background-color: #ccffff!important;
}
#subMainContent TR.BgColor02 TD {
/* Utilizado para los estudiantes de tipo 2 */
  background-color: #ccffaa!important;
}
#subMainContent TR.BgColor03_33 TD {
/* Utilizado para los estudiantes de tipo 3 */
  background-color: #ccaaff!important;
}
/* Leyendas */
#subMainContent .tablegend01 {
	width: 30em!important;
	font-size: 0.9em;
	padding: 1em!important;
}
/* secondaryContent */
/* Contenedor secundario utilizado bajo un bloque de navegacion por pasos o un bloque de 

pestanas, ver los ejemplos BC4A y AC5A*/
.secondaryContent {
	width: auto;
	margin: 0 0 0 0;
	padding: 0.9em 0.9em 0.9em 0.9em;
	background: #fafafa;
}

/* Datos en linea */
.imputDateLine00a {
	width: 4%!important;
}
.imputDateLine00b {
	width: 6%!important;
}
.imputDateLine00c {
	width: 14%!important;
}
.imputDateLine00d {
	width: 16%!important;
}
.imputDateLine00e {
	width: 19%!important;
}
.imputDateLine00f {
	width: 25%!important;
}
.imputDateLine00g {
	width: 40%!important;
}
#subMainContent .dateLine {
	width: auto;
	margin: 0 0 0 0!important;
	padding: 0 0 0 0.3em!important;
}
#subMainContent .dateLine fieldset {
	margin: 1em 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .dateLine fieldset legend {
	font-size: 1.1em;
	margin: 0 0 0 0.9em;
	padding: 0 0.9em 0 0.9em;
}
#subMainContent .dateLine p {
	width: 90%;
	float: left;
	margin: 0.5em 0 0.5em 0!important;
	padding: 0 0 0 0!important;
}
#subMainContent .dateLine p.last {
	width: 90%;
	float: left;
	margin: 0.5em 0 0.5em 0!important;
	padding: 0 0 0.9em 1.4em;
}
#subMainContent .dateLine label {
	width: auto;
	font-weight: normal;
	float: none;
	margin: 0 0 0 0.5em!important;
	padding: 0 0 0 0;
}
#subMainContent .dateLine p label.labelDtColumn {
	width: 24%!important;
	float: left;
}
#subMainContent .dateLine input, #subMainContent .dateLine select {
	margin: 0 0 0 0!important;
  padding: 0 0 0 0!important;
}
/* Datos en linea en un fieldset */
#subMainContent fieldset .dateLine  {
margin-left: -1em;
}

/* Datos personales */
/* Datos personales - Fotografia */
#subMainContent .datImg {
	width: 17%;
  float: left;
}
/* Datos personales - Datos basicos */
#subMainContent .datBas {
  /*width: 83%;*/ /*Mostrar cuando exista imagen del usuario*/
  width: 100%; /*Ocultar cuando exista imagen del usuario*/
  float: left;
}

#subMainContent .datImg IMG {
	width: 10em;
}
#subMainContent .datImg ul {
	width: 100%!important;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: right;
}
#subMainContent .datImg li {
	background: none;
	list-style: none;
	background: none;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#subMainContent .datImg li a {
	display: block;
	padding: 0.3em 1em 0.3em 1.7em;
}
#subMainContent .datImg li.lapic a {
	background: url(../images/lapicero.gif) center left no-repeat;
	padding: 0.3em 1em 0.3em 1.8em;
}
/* Datos personales - Ejemplo */
#subMainContent span.ejd {
	font-weight: normal;
	color: #5b5a5a;
}
/* Mi horario - Estilos de la vista Calendario - Ventana con el detalle de una actividad*/
#subMainContent #pop {
  border: 1px solid #3d3d3d;
  background-color: #FFF!important;
  height: auto; 
  display: block; 
  width: 30em; 
  z-index: 99999;
  padding: 0.9em;
}
#subMainContent #pop #cerrar { 
   float:right; 
   margin-right:5px; 
   cursor:pointer; 
   font-size:0.8em; 
   font-weight:normal; 
   color:#FFFFFF; 
   background-color:#666666; 
   width:auto; 
   position:relative; 
   margin-top:-1px; 
   text-align:center; 
   padding:0.2em 0.4em 0.2em 0.4em;
}
#subMainContent #pop #time {
  font-weight: bold;
}
#subMainContent #pop #title {
  font-weight: bold;
  text-align: left;
}
#subMainContent #pop #subtitle {
  font-weight: bold;
  text-align: left;
}

#subMainContent #pop #popCont  {
  width: auto;
  margin: 0 0 0 0!important;
  padding: 0 0.9em 0 0.9em!important;
  border-top: 1px solid #ccc;

}
#subMainContent #pop #popCont dd  {
  width: 70%;
  float: left;
  text-align: left;
  margin: 0 0 0 0!important;
  padding: 0.3em 0 0.3em 0!important;
}
#subMainContent #pop #popCont dl  {
  width: 100%;
  font-size: 0.95em;
  margin: 0 0 0 0!important;
  padding: 0.3em 0 0.3em 0!important;
}
#subMainContent #pop #popCont dt {
  width: auto;
  font-weight: bold;
  clear: both;
  float: left;
  margin: 0 0 0 0!important;
  padding: 0.3em 0.3em 0.3em 0!important;
  }
/* Mi horario - Estilos de la vista Agenda y Actividad*/	
#subMainContent #lisAct h3 {
  font-size: 1.4em;
  margin: 1.9em 0 1em 0.7em;
  text-decoration: none;
}
#subMainContent #lisAct h4 {
  font-size: 1.2em;
  margin: 1.3em 0 0.4em 0.7em;
  padding: 0 0 0 0;
  text-decoration: none;
}
.encSubtitle {
  font-weight: normal;
}
#subMainContent #lisAct {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#subMainContent #lisAct dl.datComList {
  clear: both;
  font-size: 1em;
  margin: 0.9em 0.9em 0 0.9em!important;
  padding: 0 0 0 0!important;
 }
#subMainContent #lisAct dl.datComList dt  {
  clear: both;
  width: auto;
  float: left;
  padding: 0 0 0 0.7em;
  margin: 0 0 0 0;
  background: url('/portal/page/portal/uxxiportal/repositorio/images/bullet.gif') no-repeat 0em 

0.5em;
  border: 0px solid #ccc!important;
}
#subMainContent #lisAct dl.datComList dd  {
  width: 90%;
  float: left;
  text-align: left;
  margin: 0 0 0 0!important;
  padding: 0em 0 0.9em 0.4em!important;
}
#subMainContent #lisAct dl.activListado, #subMainContent #lisAct dl.activTime {
  clear: both;
  font-size: 1em;
  margin: 0 0.9em 0 0.9em!important;
  padding: 0 0 0 0!important;
  border-top: 1px solid #e3e2e2;
 }
#subMainContent #lisAct dl.activListado dt, #subMainContent #lisAct dl.activTime dt {
  clear: both;
  width: 20%;
  float: left;
  padding: 0.8em 0 0.8em 0.4em;
  margin: 0 0 0 0;
}
#subMainContent #lisAct dl.activListado dt {
  text-align: left;
}
#subMainContent #lisAct dl.activTime dt {
  text-align: center;
}
#subMainContent #lisAct dl.activListado dd, #subMainContent #lisAct dl.activTime dd {
  width: 75%;
  float: left;
  margin: 0 0 0 0!important;
  padding: 0.5em 0 0.5em 0.9em!important;
  border-left: 1px solid #ccc;
}
#subMainContent #lisAct dl.activListado dd dl, #subMainContent #lisAct dl.activTime dd dl {
  margin: 0 0 0.4em 0!important;
  padding: 0.4em 0 0 0!important;
}
#subMainContent #lisAct dl.activListado dd p, #subMainContent #lisAct dl.activTime dd p {
  margin: 0.4em 0 0 0!important;
  padding: 0 0 0 0 0!important;
}
#subMainContent #lisAct dl.activListado dl dt, #subMainContent #lisAct dl.activTime dl dt{
  width: auto;
  float: left;
  margin: 0 0 0 0;
  padding: 0.1em 0.2em 0.2em 0.7em;
  background: url('/portal/page/portal/uxxiportal/repositorio/images/bullet.gif') no-repeat 0em 0.5em;
  border: 0px solid #ccc!important;
} 
#subMainContent #lisAct dl.activListado dl dd, #subMainContent #lisAct dl.activTime dl dd {
  width: 86%!important;
  float: left;
  text-align: left;
  margin: 0 0 0 0!important;
  padding: 0.1em 0 0.2em 0!important;
  border: 0px solid #ccc!important;
}   
#subMainContent #lisAct .in {
  clear: both;
  margin: 0 0.9em 0 0.9em!important;
  padding: 0 0 0 0;
  border-bottom: 1px solid #e3e2e2;
}
#subMainContent #lisAct .time {
  font-weight: bold;
  text-align: left;
}
#subMainContent #lisAct .title {
  font-weight: bold;
}
#subMainContent #lisAct .subtitle {
  font-weight: normal;
}

/* Listas de definiciones */
#subMainContent .searchBox dl.file {
  line-height: 1.5em;
  margin: 0.4em 0 2.5em 0;
}
    
#subMainContent .searchBox dl.file dt {
  clear: both;
  float: left;
  font-weight: bold;
  padding: 0 0 0 0.9em;
  width: 4%;
}
      
#subMainContent .searchBox dl.file dd {
  float: left;
  padding: 0 0 0 0.9em;
  width: 86%;
}
      
#subMainContent . searchBox dl.file dl {
  margin: 0;
}

/* Personalizacion para USAL */
#subMainContent {
  font-size: 0.8em;
  border-collapse: collapse;
  border-spacing: 0;
}
      
#subMainContent .summary01 {
  width: 69%;
}
#subMainContent TABLE {
  font-size: 0.85em;
  border-collapse: collapse;
  border-spacing: 0;
}
#subMainContent TH {
	color: #565656;
	background: #CCCCCC;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080; 
}
#subMainContent TH a {
	color: #565656!important;
}
#subMainContent TD {
	background: #FFFFFF;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
#subMainContent .dateSearchLine {
	padding-bottom: 0!important;
}
#subMainContent .dateSearchLine p {
	margin: -1.3em 0 0 0!important;
	padding-bottom: 0!important;
}

#subMainContent .dateLine p .label02 {
	width: auto!important;
	padding-top: 0.5em!important;
}
