/* ** Contiene los selectores y reglas necesarias para dotar del aspecto 

correcto  
** a los elemento del Portal de Servicios de la USAL  
** @author:  UXXI-PORTAL  
** @version: v 0.1  
** @date:    29/5/2008      
**----------------------------------------------------------------------------

*/

BODY {
	width: auto;
	height: 90%;
	color: #3d3d3d;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 auto 0;
	}
	
#cuerpo {
	width: 980px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	border-right: 1px solid #D1CBC5;
	border-left: 1px solid #D1CBC5;
	border-bottom: 2px solid #D1CBC5;
}

P {
	text-align: left;
	color: #3d3d3d;
}


/* ENCABEZADOS  
----------------------------------------------------------------------------*/
H1 {
	font-weight: normal;
	color: #525252;
	Font-Size: 1.4em;
	font-family: Verdana;
	font-weight: normal;
	line-height: 1.15em;
	margin: 0 0 0 0;
	padding: 0 0.6em 0 0;
}
H2 {
	width: 100%;
	display: block;
	font-weight: bold;
	Font-Size: 0.85em;
	COLOR:  #525252;
	line-height: 1em;
	font-family: Verdana;
	margin: 0.65em 1.6em 0.65em 0;
	padding: 0.1em 0 0.1em 0;
	border-bottom: 1px dashed #CCCCCC;
}
H2 A, H2 A:hover {
	color:  #525252;
	text-decoration: none;
}
.contenido_portada h2 {
	border-bottom: 0px;
}
h2.PortletHeaderText {
	font-weight: normal!important;
  padding: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}
H3 {
	Font-Size: 0.8em;
	font-family: Verdana;
	margin: 0.4em 0 0.1em 0.8em;
        *margin: 0.4em 0 0.1em 0.8em;
	text-decoration: none;
}

H3, H3 A, H3 A:hover {
	color: #525252;
}

H4 {
	display: block;
	color: #525252;
	background: #FFF;
	font-size: 0.7em;
	margin: 0.5em 0 0 0.9em;
	padding: 0;
}
H5, H6 {
	display: block;
	color: #525252;
	background: #FFF;
	font-size: 0.65em;
	margin: 1em 0 0 0.7em;
	padding: 0;
}


/* Para hacer que el Encabezado H3 no este subrayado en los portlet  
----------------------------------------------------------------------------*/
.PortletSubHeaderText {
	border: none;
	margin-left: 0.7em;
}


/* LISTA  
----------------------------------------------------------------------------*/
UL {
	display: block;
	color: #3d3d3d;
	list-style-type: none;
	text-align: left;
	margin: 0.2em 0 0 0;
	padding: 0 0 0 0.65em;
	Font-Size: 11px;
}
UL LI {
	line-height: 1.4em;
	margin: 0.3em 0 0.6em 0.4em;
	padding: 0 0.9em 0 0.9em;
	background: 

url("http://potest.ocunet/portal/page/po_test/epd/files/img/listados_item.gif"

) no-repeat 0em 0.6em;
	LIST-STYLE-TYPE: none
}
UL LI UL LI {
	padding: 0 0.9em 0em 0.9em;
}

UL li h4, UL li h3 {
	color: #525252;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	TEXT-DECORATION: none;
}

UL li h3 {
	Font-Size: 1.2em;
	margin: 1.2em 0 0 0;
	padding: 0 0 0 0;
}

UL li h4 {
	Font-Size: 1em;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 0;
}


/* ENLACES  
----------------------------------------------------------------------------*/
a {
	text-decoration: none;
	Color: #990100;
	Font-Family: Arial, Helvetica;
}
a:link {
	text-decoration: none;
	Color: #990100;
	Font-Family: Arial, Helvetica;
}
a:active {
	text-decoration: none;
	Color: #990100;
	Font-Family: Arial, Helvetica;
}
a:visited {
	text-decoration: none;
	Color: #990100;
	Font-Family: Arial, Helvetica;
}
a:hover {
	text-decoration: underline;
	Font-Family: Arial, Helvetica;
}


/* Enlaces Cabecera  
----------------------------------------------------------------------------*/
A .titleorimageid454166siteid0, 
A:hover .titleorimageid454166siteid0 {
	font-weight: normal;
}

A:hover .titleorimageid454166siteid0, .editar A:hover, 

.titleorimageid1siteid36 a:hover {
	color: #FFF;
	text-decoration: underline;
}
.editar A.titleorimageid1siteid36 {
color: #FFF;
}



/* Mensaje de advertencia
----------------------------------------------------------------------------*/
.advertencia {
width: 90%;
margin: 0.9em 0.4em 0.9em 1.6em;
padding: 0.9em 0.9em 0.9em 0.9em;
border: solid 1px #CCCCCC;
background: #F9F9F9;
}

.advertencia p {
margin: 0 0 0 0;
padding: 0.6em 0.6em 0.6em 0.6em;
color: #B40809;
}




/* Portlet Estilos generales
----------------------------------------------------------------------------*/
.PortletText1 {
font-size: 0.7em;
}





/* Tablas del Administrador 
----------------------------------------------------------------------------*/

TABLE .administrador {
border: 1px solid #C8CBCF;
}

TABLE .administrador {
border: border: 1px solid #C8CBCF;
}

TABLE .administrador  TR TD P{
    font-size: 0.95em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 1px solid #C8CBCF;
}

TABLE .administrador  TR TD{
    border-top: 1px solid #C8CBCF;
    margin: 0 0 0 0;
    padding: 8px 2px 2px 14px;
    text-align: left;
    font-size: 0.7em;
}

TABLE TR .filaResaltada {
background: #F9F9F9;
color: #B40809;
}

TABLE TR .cabecera {
background: #2A498A;
color: #FFF;
text-align: left;
font-weight: bold;
}

/* CABECERA 
----------------------------------------------------------------------------*/
#cabecera {
	width: 980px;
	height: 156px;
	margin: 0 0 0.2em 0;
	padding: 0 0 0 0;
	background-image: 

url('/portal/page/portal/servicios/files/img/cabeceralineagris3.gif');
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#cabeceraGeneral {
	width: 980px;
	height: 156px;
	margin: 0 0 0.2em 0;
	padding: 0 0 0 0;
	background-image: 

url('/portal/page/portal/servicios/files/img/cabeceralineagrisgeneral.gif');
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#utilidades {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, "sans serif";
	height: 10px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.utilidadesDerecha {
        width: 22%;
        float:right;
}

.utilidadesIzquierda {
        width: 78%;
        float: left;
}

.utilidadesDerecha ul, .utilidadesIzquierda ul {
	background: transparent;
	margin: 0 0 0 0;
	padding: 0.2em 0 0 0;
}

.utilidadesDerecha ul li, .utilidadesIzquierda ul li, .utilidadesDerecha 

.titleorimageid454735siteid0 {
	display: inline;
	padding-top: 0;
	Font-Size: 1em;
	margin-right: 0;
	background: none;
}

.utilidadesDerecha ul li a, .utilidadesIzquierda ul li a {
	color: #990000;
	Font-Weight: normal;
	text-decoration: none;
	Font-Size: 1em;
}

.utilidadesDerecha ul li a:hover, .utilidadesIzquierda ul li a:hover {
	color: #990000;
	Font-Weight: normal;
        text-decoration: underline;
	Font-Size: 1em;
}


#barraInferior {
	position: absolute;
	width: 980px;
	height: 10px;
	font-family: Arial, Helvetica, "sans serif";
	padding: 0 0 0 0;
	margin-top: 112px;
	*margin-top: 5px;
}

#buscador {
        float: right;
        margin: 0 0 0 0;
        padding: 0 0.4em 0 0;
}

#bienvenida {
	width: 70%;
	float: left;
	height: auto;
}
#bienvenida p {
	font-family: Arial, Helvetica, "sans serif";
	margin: 0 0 0 0;
	padding: 0.4em 0 0 0.4em;
	font-size: 0.8em;
	color: #FFF;
}
#enlaces {
	text-align: right;
	background: transparent;
	margin: 0 0 0 0;
	padding: 0.2em 0 0 0;
}
/* PIE */
#pie {
	Font-Family: Arial, Helvetica;
	Font-Size: 70%;
	width: 100%;
	height: auto;
	margin: 1.4em 0 0 0;
	padding: 9px 0px 4px 0;
	padding-top: 8px*;
  /*border-top: 2px solid #cccccc;*/
  
}

#pie p{
text-align: center;
margin: 0 0.4em 0 0.4em;
padding: 0.2em 0 0.2em 0;
BACKGROUND-COLOR: #e6e5e2
}

#pie p a {
	Font-Size: 1em;
}




.encabMenu {
Font-Family: Arial, Helvetica;
Font-Size: 0.75em;
Color: #3C3C3C;
margin: 0 0 0 0;
padding: 0.25em 0.2em 0.25em 0.2em;
}

.Bodyid1siteid36 {
background-color: #e9e9e9;
}

ul li {
color: #3C3C3C;
}

/* Borde lateral del menu */
#rg2897, #rg771, #rg743, #rg753, #rg820, #rg794{
width: 96%;
border: 4px solid #cccccc;
margin: 0em 0.4em 0 0.2em;
padding: 0 0 0 0;
}

/*
#rg3390, #rg3391 {
width: 96%;
margin: 0em 10px 0 10px;
padding: 0 0 0 0;
}

#rg2902, #rg777 {
width: 96%;
border: 1px solid #cccccc;
margin: 0em 10px 0 10px;
padding: 8px 8px 8px 8px;
}
*/

/* Busquedas guardadas */
.Defaultid1siteid0 {
Font-size: 0.75em;
}

.encabMenu {
width: 98%;
*width: 100%;
background-color: #e9e9e9;
margin: 0 0 0 0;
padding: 0.4em 0 0.4em 0.4em;
border-bottom: 1px solid #CCC;
}

TABLE.tabla {
border-color: #CCC;
}


.RegionBorder {
/*border-color: #f6f6f6;*/
border-color: #CCC;
}
.table {
border-color: red;
}

.PortletHeaderColor {
padding: 0 0 0.1em 0;
}

/* Enlace editar   
----------------------------------------------------------------------------*/
.editar {
	width: 30px;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 14px;
  top: 25px; 
  z-index: 100;
}

.editar a {
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.4em 0.4em 0.4em 0.4em;
	color: #FFF;
	background-color: #B11000;
	border-top: 1px solid #CCC;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

.caja {
	border: 1px solid #666666;
	FONT-SIZE: 16px;
	WIDTH: 178px;
	vertical-align: middle;
  margin: 0 0 0.8em 0;
  *margin: 0 0 0.85em 0;
  padding: 0 0 0 0;

}

A.PortletText1 {
Font-size: 0.75em;
}

.PortletText1 A {
*Font-size: 1.1em;
}


.contenidoPortlet {
font-size: 0.75em;
margin: 0.6em 0 0.9em 1em;
padding: 0 0 0 0;
}


.contenidoPortlet ul {
margin: 0.5em 0 0 0;
}
.navegador ul li {
font-size: 1.1em;
}

.contenidoPortlet p {
margin: 0.3em 0 0 0;
padding: 0 0 0 0;
}

.contenidoPortlet h3 {
font-size: 1.1em;
margin: 1.2em 0 0 0;
padding: 0.4em 0 0.3em 0;
border-bottom: 1px solid #CCC;
}

.contenidoPortlet h4 {
font-size: 1em;
margin: 0.8em 0 0 0;
padding: 0 0 0 0;
}

#logotipo {
width: 70%;
float:left;
margin: 0 0 0 0;
padding: 0 0 0 0;
}

#logotipo h1 {
margin: 0 0 0 0;
padding: 0 0 0 0;
}

IMG {
border: 0;
}
.contenidoItem {
width: 99%;
margin: 0 0 0 0.9em;
padding: 0 0 0 0;
}

.contenidoItem p {
Font-Size: 0.75em;
}



/* FIN    

--------------------------------------------------------------------------*/

